<div class="container-fluid bg-primary py-5 mb-5 about-header position-relative overflow-hidden">
    <div class="container" id="top">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center heading-center">
                <h1 class="display-2 text-white animated slideInDown">About Me</h1>
                <div class="tx-slider header" id="header">
                    <h2></h2>
                    <div class="typed-text">
                        Full Stack Developer, User Interface Designer, Mainframe Developer, Data / SQL Analyst
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

<!-- About Start -->
<div class="py-5">
    <div class="">
        <div class="row g-5">
            <div class="col-lg-4 wow fadeInUp text-center" data-wow-delay="0.1s">
                <div class="h-100">
                    <img class="img-fluid" src="~/Content/img/Janet 3.jpg" style="object-fit:cover; border-radius:50%;" alt="" />

                </div>
            </div>
            <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">About Me</h6>
                <h2 class="mb-4">Hello...Nice to Meet You!  I am Janet Lester...</h2>
                <p class="mb-4" w-100 h-100>
                    I am a Software Engineer based in Kansas City, Missouri.  <br />I started my career in the Information Technology field over 20 years ago after graduating with a Bachelors Degree in Computer Information Systems.  I spent the majority of my career in the healthcare and finance sector, primarily for one company, using Mainframe technologies.  There, I performed various roles in delivering quality and efficient projects using both Agile and Waterfall methodologies.  Then, in 2018, when that company was sold, I found myself in a new job where I felt unfulfilled and no longer challenged.  I knew it was time for a change, but I also knew I wanted to stay in IT development, where I really enjoyed the critical thinking, data analysis and the logic side. So, I made the decision to quit my job and enrolled in <a href=https://www.centriq.com/career/it-career-program/what-you-learn> Centriq's Full Stack Web Developer Training.</a>. In this accelerated training, I gained hands-on training performing labs and creating projects, both independently and as a team, including some pair programming.  I am now looking forward to new opportunities where I can hone my new skillset as a Web Developer, continue to learn new technologies, as well as leverage my vast amount of IT experience to be mutually beneficial.  Feel free to connect with me on <a href="http://www.linkedin.com/in/janet-lester">LinkedIn</a> and to browse My <a href="portfolio.html">Portfolio</a> page here which showcases the projects and labs as a Full Stack Developer. <br />
                </p>

            </div>
        </div>
        </div>
        </div>
