    <!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 classmates-header position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center heading-center">
                <h1 class="display-2 text-white animated slideInDown">Classmates</h1>
                <div class="tx-slider header" id="header">
                    <h2></h2>
                    <div class="typed-text">
                        Peers, Pair Programmers, Collaborators
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!-- Classmates Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">My Classmates</h6>
            <!--<h1 class="mb-5">Centriq Classmates</h1>-->
            <h1>Centriq Classmates</h1>

        </div>

        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item overflow-hidden">
                            <!--<div class="overflow-hidden">-->
                            <a href="http://www.developer.jason-colobong.com" target="_blank">
                                <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Jason Cobolong.jpg" style="width: 250px; height: 250px;">
                            </a>
                            <h5 class="mb-0">Jason Colobong</h5>
                            <p>
                                <a href="http://www.developer.jason-colobong.com" target="_blank">
                                    <i class="fa fa-link"></i> Personal Site
                                </a>
                            </p>

                        </div>
                    </div>
                    <!--</div>-->
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item">
                            <div class="overflow-hidden">
                                <a href="http://www.abbey-outain.com" target="_blank"> <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Abbey Outain.jpg" style="width: 250px; height: 250px;"></></a>
                                <h5 class="mb-0">Abbey Outain</h5>
                                <p>
                                    <a href="http://www.abbey-outain.com" targey_blank">
                                        <i class="fa fa-link"></i> Personal Site
                                    </a>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item">
                            <div class="overflow-hidden">
                                <a href="http://www.patrick-stephen.com" target="_blank">
                                    <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Patrick Stephen.jpg" style="width: 250px; height: 250px;">
                                </a>
                                <h5 class="mb-0">Patrick Stephen</h5>
                                <p><a href="http://www.patrick-stephen.com" target="_blank"><i class="fa fa-link"></i> Personal Site</a> </p>

                            </div>

                        </div>
                    </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item">
                            <div class="overflow-hidden">
                                <a href="http://www.eric-faith.net" target="_blank">
                                    <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Eric Faith.jpg" style="width: 250px; height: 250px;">
                                </a>
                                <h5 class="mb-0">Eric Faith</h5>
                                <p><a href="http://www.eric-faith.net" target="_blank"><i class="fa fa-link"></i> Personal Site</a> </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item">
                            <div class="overflow-hidden">
                                <a href="http://www.don-richardson.com" target="_blank">
                                    <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Don Richardson.jpg" style="width: 250px; height: 250px;">
                                </a>
                                <h5 class="mb-0">Don Richardson</h5>
                                <p><a href="http://www.don-richardson.com" target="_blank"><i class="fa fa-link"></i> Personal Site</a> </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item">
                            <div class="overflow-hidden">
                                <a href="http://www.joemcguire-design.com" target="_blank">
                                    <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Joe Mcguire.jpg" style="width: 250px; height: 250px;">
                                </a>
                                <h5 class="mb-0">Joe Maguire</h5>
                                <p><a href="http://www.joemcguire-design.com" target="_blank"><i class="fa fa-link"></i> Personal Site</a> </p>

                            </div>
                </div>
                <br />  <br />
                        </div>
                    </div>

                    <div class="row">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item">
                            <div class="overflow-hidden">
                                <a href="http://www.double-a-dev.com" target="_blank">
                                    <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp"
                                         src="~/Content/img/Andrew Allen.jpg" style="width: 250px; height: 250px;">
                                </a>
                                <h5 class="mb-0">Andrew Allen</h5>
                                <p><a href="http://www.double-a-dev.com" target="_blank"><i class="fa fa-link"></i> Personal Site</a> </p>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="classmates-item">
                            <div class="overflow-hidden">
                                <a href="http://www.joshua-foley.com" target="_blank">
                                    <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Josh Foley.jpg" style="width: 250px; height: 250px;">
                                </a>
                                <h5 class="mb-0">Joshua Foley</h5>
                                <p><a href="http://www.joshua-foley.com" target="_blank"><i class="fa fa-link"></i> Personal Site</a> </p>

                            </div>
                        </div>
                    </div>

                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="classmates-item">
                                <div class="overflow-hidden">
                                    <a href="http://www.scott-cashion.com" target="_blank">
                                        <img class="rounded-circle p-2 mx-auto mb-3 fadeInUp" src="~/Content/img/Scott Cashion.jpg" style="width: 250px; height: 250px;">
                                    </a>
                                    <h5 class="mb-0">Scott Cashion</h5>
                                    <p><a href="http://www.scott-cashion.com" target="_blank"><i class="fa fa-link"></i> Personal Site</a> </p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
