<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5" id="top">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="~/Content/img/laptop word art grad cap bg.jpg" alt="graduation cap showing tools and languages learned at Centriq" style="max-height: 950px;">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="display-3 text-white animated slideInDown">Janet Lester</h5>
                            <h1 class="display-3 text-white animated slideInDown">Mainframe Development</h1>
                            <ul style="color: aliceblue">
                                <li>Web Technologies</li>
                                <li>Front-End / UI</li>
                                <li>Middle Tier Logic</li>
                                <li>Data / SQL</li>
                            </ul>
                            @*<div class="btnResHire">
                                <a class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft download-btn" href="~/Content/Downloads/Janet Lester Resume 2022.pdf" download><i class="fa fa-download"></i>&nbsp;Resume</a>
                                <a class="btn btn-light py-md-3 px-md-5 animated slideInRight hire-btn" href="@Url.Action("Contact","Home")"><i class="fa fa-keyboard"></i>&nbsp;Hire Me</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" style="opacity: .5"
                 src="~/Content/img/Cobol standard.jpeg" alt="Mainframe screen showing COBOL code">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-sm-10 col-lg-8">
                            <h5 class="display-3 text-white animated slideInDown">Janet Lester</h5>
                            <h1 class="display-3 text-white animated slideInDown">Mainframe Development</h1>
                            <ul style="color: aliceblue">
                                <li>Mutliple MF Technologies</li>
                                <li>Data / Systems Analysis</li>
                                <li>SDLC Project Lifecycle</li>
                                <li>Team Leadership</li>
                            </ul>
                            @*<div class="btnResHire">
                                <a class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft download-btn" href="~/Content/Downloads/Janet Lester Resume 2022.pdf" download><i class="fa fa-download"></i>&nbsp;Resume</a>
                                <a class="btn btn-light py-md-3 px-md-5 animated slideInRight hire-btn" href="@Url.Action("Contact", "Home")"><i class="fa fa-keyboard"></i>&nbsp;Hire Me</a>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
