    <!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 portfolio-header position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center heading-center">
                <h1 class="display-2 text-white animated slideInDown">My Portfolio</h1>
                <div class="tx-slider header" id="header">
                    <h2></h2>
                    <div class="typed-text">
                        Front-End, Middle Tier, Back-End, Data, Full-Stack
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->
<!--================Projects Area =================-->
<div class="container">
    <div class="main_title text-center">
        <h2>Web Development Projects</h2>
        <p>Please check back often as this will be updated as more projects are completed</p>
    </div>
    <!--<div class="projects_fillter">
        <ul class="filter list">
            <li class="active" data-filter="*"><a href="#">All Categories</a></li>
            <li data-filter=".frontend"><a href="#">Front-End</a></li>
            <li data-filter=".C#"><a href="#">Creative C# </a></li>
            <li data-filter="MVC"><a href="#">MVC</a></li>
        </ul>
    </div>-->
    
    <!-- Portfolio Start -->
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">My Portfolio</h6>
            </div>

            <div class="row g-3">
                <div class="col-lg-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                    <ul class="grid cs-style-1">
                        <li>
                            <figure>
                                <img class="img-fluid" src="~/Content/img/dog breeds.jpg" alt="Fed1 Studio Project" target="_blank" />
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3">
                                    <h6 class="m-0">Front-End Design</h6>
                                    <small class="text-primary">HTML & CSS</small>
                                </div>
                                <figcaption>
                                    <span>
                                        This project consisted of creating a website for a mock Dog Trainer Academy based on a given set of requirements.  This was done solely using HTML and CSS.  This was the first project completed.
                                        <br /> <a class="btn btn-info" href="http:\\www.fed1sp.jlester-dev.net">Learn More</a>
                                    </span>

                                </figcaption>
                            </figure>
                    </ul>
                </div>

                <div class="col-lg-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                    <div class="grid cs-style-1">
                        <ul>
                            <li>
                                <figure>
                                    <img class="img-fluid" src="~/Content/img/Zombie Slayer.png" alt="Zombie Slayer Console App Game" />
                                    <div class="bg-light text-center position-absolute bottom-0 end-0 py-2 px-3">
                                        <h6 class="m-0">Console Dungeon App</h6>
                                        <small class="text-primary">C# Console</small>
                                    </div>
                                    <figcaption>
                                        <span>
                                            This project consisted of creating a game via C# Console Application.  I chose to use Zombies as the monsters and Zombie Slayers as players.  This was a fun experience and I plan to make a few more updates to it in the near future.
                                            <br /> <a class="btn btn-info" href="https://github.com/jlester99/DungeonApp">Learn More</a>
                                        </span>
                                    </figcaption>
                                </figure>
                        </ul>

                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">

                    <ul class="grid cs-style-1">
                        <li>
                            <figure>

                                <img src="~/Content/img/multi products_ccexpress.png" alt="Storefront project" />
                                <div class="bg-light text-center position-absolute bottom-0 end-0 py-2 px-3">
                                    <h6 class="m-0">Storefront Application</h6>
                                    <small class="text-primary">Full Stack</small>
                                </div>
                                <figcaption>
                                    <span>
                                        This project consisted of creating a storefront appliaction for an ecommerce store combining back-end technology, along with the front-end and middle tier.  I chose to use a mock storefront called "Friends-4-Paws to sell accessories for dogs that are inspired by the Friends TV show as I am an avid fan.
                                        <<a class="btn btn-info" href="https://storefront.jlester-dev.net">Learn More</a>
                                    </span>
                                </figcaption>
                            </figure>
                    </ul>

                </div>
            </div>

            <div class="row g-3">
                <div class="col-lg-4 col-sm-6 wow zoomIn" data-wow-delay="0.1s">
                    <ul class="grid cs-style-1">
                        <li>
                            <figure>
                                <img class="img-fluid" src="~/Content/img/Personal Site Static .png" alt="Person Portfolio Site - Static" target="_blank" />
                                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3">
                                    <h6 class="m-0">Front-End Design</h6>
                                    <small class="text-primary">Non-MVC</small>
                                </div>
                                <figcaption>
                                    <span>
                                        This is the first version of my Personal Portfolio site, created as a non-MVC (static) site.
                                        <br /> <a class="btn btn-info" href="http:\\www.originalsite.jlester-dev.net">Learn More</a>
                                    </span>

                                </figcaption>
                            </figure>
                    </ul>
                </div>

            </div>
        </div>
</div>

