    <!-- Header Start -->
<div class="container-fluid bg-primary py-5 mb-5 resume-header position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center heading-center">
                <h1 class="display-2 text-white animated slideInDown">Resume</h1>
                <div class="tx-slider header" id="header">
                    <h2></h2>
                    <div class="typed-text">
                        Full Stack Developer, User Interface Designer, Mainframe Developer, Data / SQL Analyst
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- Header End -->
<!-- Service Start -->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">What I do</h6>
            <h2 class="mb-5">Skills and Services</h2>

            <!-- Service Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <div class="row g-4">
                        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item text-center pt-3">
                                <div class="p-4">
                                    <i class="fab fa-html5 fa-3x text-primary mb-4"></i>
                                    <i class="fab fa-css3 fa-3x text-primary mb-4"></i>
                                    <i class="fab fa-js-square fa-3x text-primary mb-4"></i>
                                    <h4 class="mb-3">Front-End / UI Design</h4>
                                    <div class="service-list">
                                        <p>
                                            <ul>
                                                <li>HTML5</li>
                                                <li>CSS3</li>
                                                <li>JavaScript</li>
                                                <li>JQuery</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="service-item text-center pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x fa-globe text-primary mb-4"></i>
                                    <h4 class="mb-3">Middle-Tier / Logic</h4>
                                    <div class="service-list">
                                        <p>
                                            <ul>
                                                <li>C# Console Application</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-3 wow fadeInUp" data-wow-delay="0.5s">
                            <div class="service-item text-center pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x fa-home text-primary mb-4"></i>
                                    <h4 class="mb-3">Back-End / Data</h4>
                                    <div class="service-list">
                                        <p>
                                            <ul>
                                                <li>Database Design</li>
                                                <li>SQL</li>
                                                <li>Linq</li>
                                                <li>JSON</li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<div class="row g-4">-->
                        <div class="col-md-3 col-sm-3 wow fadeInUp" data-wow-delay="0.7s">
                            <div class="service-item text-center pt-3">
                                <div class="p-4">
                                    <i class="fa fa-3x fa-book-open text-primary mb-4"></i>
                                    <h4 class="mb-3">Mainframe Technology</h4>
                                    <div class="service-list">
                                        <p>
                                            <ul>
                                                <li>Multi Languages</li>
                                                <li>DB2 / SQL</li>
                                                <li>JIRA</li>
                                                <li>SDLC </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Experience Start -->
<div class="experience" id="experience">
    <div class="container-xxl py-5 category">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-primary px-3">What I've done</h6>
                <h2 class="mb-5">Work Experience</h2>
                <div class="timeline">
                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2018 - 2021</div>
                            <h2>Mainframe Engineer, B2</h2>
                            <h4>Wipro/Infocrossing, Jefferson City, MO</h4>
                            <div class="experience-list">
                                <p>
                                    <ul>
                                        <li>
                                            Provided technical support and maintenance for the Missouri Medicaid system, working with
                                            state personnel to develop solutions and correct existing processes; updated production data
                                            as requested.
                                        </li>
                                        <li>Initiated development of an internal reference directory for Mainframe developers.</li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline">2013 - 2018</div>
                            <h2>Sr. Software Engineer, Mainframe</h2>
                            <h4>Retirement Solutions, DST Systems, Kansas City, MO</h4>
                            <div class="experience-list">
                                <p>
                                    <ul>
                                        <li>
                                            Participated in a high performing team using Agile methodology; presented and demoed
                                            changes to clients and stakeholders; used JIRA for documenting and updating User Stories
                                            and incident tracking.
                                        </li>
                                        <li>Worked closely with Quality Assurance to ensure delivery of quality and efficient products.</li>
                                        <li>
                                            Performed in a variety of roles in all project phases for both Waterfall and Agile methodologies. Performed technical analysis, produced technical design documents/specs
                                            and Unit Test documentation and results to enhance processes or develop new processes.
                                        </li>
                                        <li>Started transitioning to a Web development role via on-the-job training and self-study.</li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">2008 - 2013</div>
                            <h2>Software Engineer, Mainframe</h2>
                            <h4>Argus Health Solutions, Kansas City, MO</h4>
                            <div class="experience-list">
                                <p>
                                    <ul>
                                        <li>
                                            Performed as Technical Leader in large projects, including ADABAS to DB2 conversion and
                                            redesign of current Mainframe systems to Web applications.
                                        </li>
                                        <li>Assisted in the development of new DB2 tables to meet the data needs of the projects.</li>
                                        <li>
                                            Created technical documentation and designed code for the more complex processes for the
                                            project.
                                        </li>
                                        <li>Performed as a mentor to other associates in all aspects of project lifecycle.</li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>

                    <div class="timeline-item right wow slideInLeft" data-wow-delay="0.1s">
                        <div class="timeline-text">
                            <div class="timeline-date">1997 - 2013</div>
                            <h2>Software Engineer, Mainframe</h2>
                            <h4>Home Office Services, DST Systems, Kansas City, MO</h4>
                            <div class="experience-list">
                                <p>
                                    <ul>
                                        <li>
                                            Performed roles as Project and Technical Leader of varying sized projects, as well as
                                            administrative responsibilities for 5 associates, as well as managing workload for both
                                            domestic and offshore associates.
                                        </li>
                                        <li>
                                            Participated in analyzing, designing, coding, testing, debugging and maintaining COBOL and
                                            CICS view programs.
                                        </li>
                                        <li>
                                            Created, maintained and enhanced Vision Home Office Web interface, DST SmartDesk GUI
                                            process and NSCC batch interfaces..
                                        </li>
                                        <li>
                                            Assisted in the development of new DB2 tables to meet the data needs of the projects for
                                            various VSAM file to DB2 conversions.
                                        </li>
                                    </ul>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Job Experience End -->
<!-- Education Begin-->
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Where I learned</h6>
            <h2 class="mb-5">Education</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item text-center pt-3">
                    <div class="service-icon">
                        <i class="fa fa-3x fa-laptop-code"></i>
                    </div>
                    <div class="service-text">
                        <br />
                        <h3>Web Technologies</h3>
                        <div class="service-list">

                            <p>
                                Centriq Career Training, Kansas City, MO <br />
                                Full Stack Web Development <br />
                                Accelerated Training, 2022
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <div class="service-icon text-center pt-3">
                        <div class="service-icon">
                            <i class="fa fa-3x fa-laptop"></i>
                        </div>
                        <div class="service-text">
                            <br />
                            <h3>Mainframe Technologies / Business Administration</h3>
                            <div class="service-list">
                                <p>

                                    Central Missouri State University, Warrensburg, MO <br />
                                    BSBA, Computer Information Systems, 1995 <br />
                                    Graduated Magna Cum Laude
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Education End-->
<!-- Testimonial Start -->
<div class="testimonial wow fadeInUp" data-wow-delay="0.1s" id="review">
    <div class="container">
        <div class="testimonial-icon">
            <i class="fa fa-quote-left"></i>
        </div>
        <div class="owl-carousel testimonials-carousel">
            <div class="testimonial-item">
                <!--<div class="testimonial-img">
                    <img src="img/testimonial-1.jpg" alt="Image">
                </div>-->
                <div class="testimonial-text">
                    <p>
                        I had the pleasure of working with Janet for several years, both in Waterfall and Agile development settings. She pays attention to the details to ensure that things aren't missed - by her or her colleagues - and yet is flexible and willing to hear others' opinions and abide by the majority opinion. This is a rare combination. She is a kind and caring individual as well. I would definitely recommend Janet if you ever have the opportunity to work with her!
                    </p>
                    <h3>Kole Scarbrough</h3>
                    <h4>Manager, DST Systems, Kansas City, MO</h4>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-text">

                    <p>
                        Janet is a team player.  She's always willing to help and shares valuable knowledge effectively.  It was a pleasure to work with Janet and she is missed.
                    </p>
                    <h3>Vicki Arnold</h3>
                    <h4>Mainframe Engineer, Wipro/Infocrossing, Jefferson City, MO</h4>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-text">

                    <p>
                        Working with Janet was a pleasure.  She has an analytical mind paired with an easy going inquisitive nature.  She can break down and explain the most complex technical processes in easy understandable language.  Janet provides concise solutions to technical coding and data issues often simplifying theprocess.  Janet's understanding of business processes, technical expertise and strong interpersonal skills make her a valuable addition to any team.
                    </p>
                    <h3>Becky Person</h3>
                    <h4>Mainframe Engineer, Wipro/Infocrossing, Jefferson City, MO</h4>
                </div>
            </div>
            <div class="testimonial-item">
                <div class="testimonial-text">

                    <p>
                        Janet is a great coworker. She is very approachable and I remember the time where we had to learn how to generate pdfs with styled charts and she did a great job learning and coding the script.
                        She is a great team member to work with.

                    </p>
                    <h3>Sarath Damala</h3>
                    <h4>Sofware Engineer, DST Systems, Kansas City, MO</h4>
                </div>
            </div>

            <div class="testimonial-item">
                <div class="testimonial-text">

                    <p>
                        I really enjoy collaborating with Janet on projects.  She always finds new and innovative solutions to problems and continually thinks outside the box for the best solution.  Janet exceeds expectations by delivering more than assigned work despite the tight schedule.  Janet is very articulate and explains her ideas and opinions clearly, leaving no room for miscommunication.

                    </p>
                    <h3>Michelle Schultz</h3>
                    <h4>Argus Health Solutions, Kansas City, MO</h4>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Testimonial End -->
<!-- Pre Loader -->
@*<div id="loader" class="show">
        <div class="loader"></div>
    </div>*@
